
<h1>Listing reviews</h1>

<h4><%= link_to 'New review', new_review_path %></h4>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.name %></td>
      <td><%= review.notes %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
      <td><%= link_to 'Edit', edit_review_path(review) %></td>
      <td><%= link_to 'Destroy', review_path(review),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>
