  <h1>New Review</h1>

  <%= form_with scope: :review, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :notes %><br>
      <%= form.text_area :notes %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
